.activity .activity-data {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	background-color: var(--box-color);
	border-radius: 0.6rem;
	padding: 1rem;
}
.activity-data .data {
	display: flex;
	flex-direction: column;

	margin: 0 1.5rem;
}
.activity-data .data-title {
	font-size: 1.7rem;
	font-weight: 500;
	color: var(--text-color);
}
.activity-data .data .data-list {
	font-size: 1.4rem;
	font-weight: 400;
	color: var(--text-color);
	white-space: nowrap;

	margin-top: 2rem;
}
.data.ver {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.data.ver i {
	font-size: 1.7rem;
}
a {
	text-decoration: none;
}

button {
	background-color: var(--blue);
	color: #fff;
	font-size: 18px;
	border-radius: 8px;
	padding: 13px 6px;
	margin-top: 2rem;
	border: 0;
}

@media (max-width: 1000px) {
	.activity .activity-data {
		overflow-x: scroll;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
	}
}
@media (max-width: 780px) {
	.dash-content .boxes .box {
		width: calc(100% / 2 - 15px);
		margin-top: 1.5rem;
	}
	.dash-content .graph {
		display: flex;
		flex-direction: column;
	}
}
@media (max-width: 560px) {
	.dash-content .boxes .box {
		width: 100%;
	}
	.dashboard .top .sidebar-toggle {
		display: none;
	}
}
