.dash-content {
	margin-top: 1rem;
}

.activity-data {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 100%;
	min-height: 95vh;
	background-color: var(--box-color);
	border-radius: 1rem;
	padding: 4rem 2rem;
}

.activity-data .wrapper {
	display: flex;
	justify-content: space-between;

	width: 100%;
}

.activity-data .data {
	display: flex;
	flex-direction: column;

	margin: 0 1.5rem;
}

.activity-data .data-title {
	font-size: 1.8rem;
	font-weight: 500;
	color: var(--text-color);
}

.activity-data .data .data-list {
	font-size: 1.4rem;
	font-weight: 400;
	color: var(--text-color);
	white-space: nowrap;

	margin-top: 2.5rem;
}

.data.ver {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.data.ver i {
	font-size: 1.7rem;
}

a {
	text-decoration: none;
	color: inherit;
}

.ativo,
.inativo {
	padding: 0rem 2rem;
	border-radius: 0.8rem;
}

.ativo {
	background-color: #dcfce7;
	color: #1ead53 !important;
}

.inativo {
	background-color: #fee2e2;
	color: #ef4444 !important;
}

.pagination-button {
	display: grid;
	grid-template-columns: 3fr 2fr;
	align-items: center;
}

.pagination-button>* {
	display: flex;
	justify-content: end;
	align-items: center;
}

.pagination-button button {
	background-color: var(--blue);
	color: #fff;
	font-size: 1.6rem;
	border-radius: 8px;
	padding: 1.5rem 1rem;
	border: 0;
	cursor: pointer;
}

@media (max-width: 1000px) {
	.activity-data {
		overflow-x: scroll;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
	}
}

@media (max-width: 780px) {
	.dash-content .boxes .box {
		width: calc(100% / 2 - 15px);
		margin-top: 1.5rem;
	}

	.dash-content .graph {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 560px) {
	.dash-content .boxes .box {
		width: 100%;
	}

	.dashboard .top .sidebar-toggle {
		display: none;
	}
}

.pagination {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.pagination a {
	display: flex;
	align-items: center;
}

.pagination :is(a:first-child, a:last-child) {
	gap: .7rem;
}

.pagination a:first-child {
	margin-right: .7rem;
}

.pagination a:last-child {
	margin-left: .7rem;
}

.pagination .active {
	background-color: #bae6fd;
	padding: 0.5rem 1.2rem;
	color: var(--blue);
	border-radius: .4rem;
}
.pagination a:hover{
	background-color: #bae6fd;
	padding: 0.5rem 1.2rem;
	color: var(--blue);
	border-radius: .4rem;
}