.pagination {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.pagination a {
	display: flex;
	align-items: center;
}

.pagination :is(a:first-child, a:last-child) {
	gap: .7rem;
}

.pagination a:first-child {
	margin-right: .7rem;
}

.pagination a:last-child {
	margin-left: .7rem;
}

.pagination .active {
	background-color: #bae6fd;
	padding: 0.5rem 1.2rem;
	color: var(--blue);
	border-radius: .4rem;
}
.pagination a:hover{
	background-color: #bae6fd;
	padding: 0.5rem 1.2rem;
	color: var(--blue);
	border-radius: .4rem;
}