<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Termos e Condições | Defesa Civil</title>
  </head>
  <body>
    <header>
      <h1>Termos e Condições</h1>
      <h3>Última Atualização: 29 de Janeiro de 2024</h3>
    </header>
    <main>
      <p>
        Estes Termos de Serviço refletem a maneira como os negócios da Defesa
        Civil funcionam, as leis que se aplicam à nossa empresa e determinados
        pontos em que sempre acreditamos.
      </p>
      <section>
        <ol>
          <li>Definições</li>
          <ol>
            <li>
              Os termos e as expressões abaixo, quando iniciados em letra
              maiúscula nestes Termos e Condições ou no Contrato, no singular ou
              no plural, no masculino ou no feminino, terão os significados que
              lhes são indicados ao longo do Contrato ou abaixo:
            </li>
            <ul>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit..</li>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit..</li>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit..</li>
            </ul>
          </ol>
          <li>Software</li>
          <ol>
            <li>
              Os termos e as expressões abaixo, quando iniciados em letra
              maiúscula nestes Termos e Condições ou no Contrato, no singular ou
              no plural, no masculino ou no feminino, terão os significados que
              lhes são indicados ao longo do Contrato ou abaixo:
            </li>
            <li>
              Os termos e as expressões abaixo, quando iniciados em letra
              maiúscula nestes Termos e Condições ou no Contrato, no singular ou
              no plural, no masculino ou no feminino, terão os significados que
              lhes são indicados ao longo do Contrato ou abaixo:
            </li>
            <li>
              Os termos e as expressões abaixo, quando iniciados em letra
              maiúscula nestes Termos e Condições ou no Contrato, no singular ou
              no plural, no masculino ou no feminino, terão os significados que
              lhes são indicados ao longo do Contrato ou abaixo:
            </li>
            <li>
              Os termos e as expressões abaixo, quando iniciados em letra
              maiúscula nestes Termos e Condições ou no Contrato, no singular ou
              no plural, no masculino ou no feminino, terão os significados que
              lhes são indicados ao longo do Contrato ou abaixo:
            </li>
          </ol>
        </ol>
      </section>
    </main>
  </body>
</html>
