<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="https://unpkg.com/@phosphor-icons/web"></script>
	<link rel="stylesheet" href="./assets/tecnico.css" />
	<title>Defesa Civil - Técnicos</title>
</head>

<body>
	<nav>
		<div class="logo-name">
			<span>
				<a href="home.html" class="logo_name">Defesa Civil</a>
			</span>
		</div>
		<div class="menu-items">
			<ul class="nav-links">
				<li>
					<a href="home.html"><i class="ph-bold ph-house"></i><span class="link-name">Home</span></a>
				</li>
				<li>
					<a href="tecnico.html"><i class="ph-bold ph-files"></i><span class="link-name">Técnicos</span></a>
				</li>
				<li>
					<a href="#"><i class="ph-bold ph-users"></i><span class="link-name">Ocorrências</span></a>
				</li>
				<li>
					<a href="#"><i class="ph-bold ph-warning-octagon"></i><span class="link-name">Relatórios</span></a>
				</li>
				<li>
					<a href="#"><i class="ph-bold ph-user-list"></i><span class="link-name">Secretários</span></a>
				</li>
				<li>
					<a href="#"><i class="ph-bold ph-users-three"></i><span class="link-name">Civil</span></a>
				</li>
				<li></li>
				<li>
					<a href="#"><i class="ph-bold ph-cloud-rain"></i><span
							class="link-name">Pluviômetro/Fluviômetro</span></a>
				</li>
			</ul>
			<ul class="logout-mode">
				<li>
					<a href="#">
						<i class="ph-bold ph-sign-out"></i>
						<span class="link-name">Logout</span>
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<main>
		<section class="dashboard">
			<div class="dash-content">
				<div class="activity">
					<div class="activity-data">
						<div class="data address">
							<span class="data-title">Nome</span>
							<span class="data-list">Malcolm Lima</span>
							<span class="data-list">Gustavo Ruiz</span>
							<span class="data-list">Raimundo Nonato</span>
						</div>
						<div class="data names">
							<span class="data-title">Email</span>
							<span class="data-list">malcolm.lima@gmail.com</span>
							<span class="data-list">gustavo.ruiz@gmail.com</span>
							<span class="data-list">raimundo@gmail.com</span>
						</div>
						<div class="data request">
							<span class="data-title">Status</span>
							<span class="ativo">Ativo</span>
							<span class="ativo">Ativo</span>
							<span class="inativo">Inativo</span>
						</div>
						<div class="data ver">
							<span class="data-title">Apagar</span>
							<span class="data-list"><i class="ph-bold ph-eye"></i></span>
							<span class="data-list"><i class="ph-bold ph-eye"></i></span>
							<span class="data-list"><i class="ph-bold ph-eye"></i></span>
						</div>
					</div>
				</div>

			</div>
		</section>
		<script src="header.js"></script>
</body>

</html>

<!--
<div class="activity">
				<div class="activity-data">
	  				<div class="data address">
						<span class="data-title">Nome</span>
						<span class="data-list">Malcolm Lima</span>
						<span class="data-list">Gustavo Ruiz</span>
						<span class="data-list">Raimundo Nonato</span>
					</div>
					<div class="data names">
						<span class="data-title">Email</span>
						<span class="data-list">malcolm.lima@gmail.com</span>
						<span class="data-list">gustavo.ruiz@gmail.com</span>
						<span class="data-list">raimundo@gmail.com</span>
					</div>
					<div class="data request">
						<span class="data-title">Status</span>
						<span class="ativo">Ativo</span>
						<span class="ativo">Ativo</span>
						<span class="inativo">Inativo</span>
					</div>
					<div class="data ver">
						<span class="data-title">Apagar</span>
						<span class="data-list"><i class="ph-bold ph-eye"></i></span>
						<span class="data-list"><i class="ph-bold ph-eye"></i></span>
						<span class="data-list"><i class="ph-bold ph-eye"></i></span>
					</div>
				</div>
			</div>

-->