@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--bg-primary-color: #cccccc;
	--nav-primary-color: #2b3743;
	--panel-color: #fff;
	--text-color: #000;
	--black-light-color: #fff;
	--border-color: #e6e5e5;
	--toggle-color: #aaa;
	--box-color: #fff;
	--title-icon-color: #fff;
	--red-color: #fee2e2;
	--blue-color: #e0e7ff;
	--purple-color: #f5d0fe;
	--gray-color: #e2e8f0;
	--blue: #023b7e;

	--tran-05: all 0.5s ease;
	--tran-03: all 0.3s ease;
	--tran-02: all 0.2s ease;

	font-size: 62.5%;
}
body {
	min-height: 100vh;
	font-size: 1.6rem;
	font-family: 'Poppins', sans-serif;

	background-color: var(--bg-primary-color);
}
nav {
	position: fixed;
	top: 0;
	left: 0;

	height: 100%;
	width: 300px;

	padding: 1.5rem;
	background-color: var(--nav-primary-color);
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
	border: 1px solid var(--border-color);
	transition: var(--tran-05);
}
nav .logo-name {
	display: flex;
	align-items: center;
}
nav .logo-image {
	display: flex;
	justify-content: center;
	min-width: 45px;
}
nav .logo-image img {
	width: 60px;
	object-fit: cover;
	border-radius: 50%;
}
nav .logo-name .logo_name {
	font-size: 2rem;
	font-weight: 600;
	color: var(--black-light-color);
	text-decoration: none;

	margin-left: 1.4rem;
	transition: var(--tran-05);
}
nav.close .logo_name {
	opacity: 0;
	pointer-events: none;
}
nav .menu-items {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: calc(100% - 90px);
	margin-top: 4rem;
}
.menu-items li {
	list-style: none;
}
.menu-items li a {
	display: flex;
	align-items: center;

	height: 50px;
	text-decoration: none;
}
.nav-links li a:hover::before {
	content: '';
	position: absolute;
	left: 10px;
	height: 40px;
	width: 2.3px;
}
.menu-items li a i {
	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 45px;
	height: 100%;

	font-size: 24px;
	color: var(--black-light-color);
}
.menu-items li a .link-name {
	font-size: 1.8rem;
	font-weight: 400;
	color: var(--black-light-color);
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name {
	color: var(--black-light-color);
}
.nav-links li a:hover::before {
	content: '';
	position: absolute;
	left: 10px;
	width: 2px;
	height: 50px;
	background-color: #fff;
}
.logout-mode {
	padding-top: 1rem;
	border-top: 1px solid var(--border-color);
}
.logout-mode li a:hover {
	opacity: 0.8;
}
.dashboard {
	position: relative;
	left: 300px;

	min-height: 100vh;
	width: calc(100% - 300px);

	background-color: var(--bg-primary-color);
	padding: 1rem 3rem;
	transition: var(--tran-05);
}
@media (max-width: 1000px) {
	nav {
		width: 73px;
	}
	nav.close {
		width: 250px;
	}
	nav .logo_name {
		opacity: 0;
		pointer-events: none;
	}
	nav.close .logo_name {
		opacity: 1;
		pointer-events: auto;
	}
	nav li a .link-name {
		opacity: 0;
		pointer-events: none;
	}
	nav.close li a .link-name {
		opacity: 1;
		pointer-events: auto;
	}
	nav ~ .dashboard {
		left: 73px;
		width: calc(100% - 73px);
	}
	nav.close ~ .dashboard {
		left: 250px;
		width: calc(100% - 250px);
	}
}
@media (max-width: 500px) {
	nav {
		width: 73px;
	}
	nav.close {
		width: 73px;
	}
	nav .logo_name {
		opacity: 0;
		pointer-events: none;
	}
	nav.close .logo_name {
		opacity: 0;
		pointer-events: none;
	}
	nav li a .link-name {
		opacity: 0;
		pointer-events: none;
	}
	nav.close li a .link-name {
		opacity: 0;
		pointer-events: none;
	}
	nav ~ .dashboard {
		left: 73px;
		padding: 1rem 1rem;
		width: calc(100% - 73px);
	}
	nav.close ~ .dashboard {
		left: 73px;
		width: calc(100% - 73px);
	}
}
