.dash-content {
	display: grid;
	grid-template-rows: 1fr 2fr 2fr;
	height: 95vh;
	gap: 2rem;
}

.dash-content .title {
	display: flex;
	align-items: center;

	margin: 0.4rem 0 1.5rem 0;
}

.dash-content .title i {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	height: 35px;
	width: 35px;

	font-size: 2.4rem;
	border-radius: 0.6rem;
	color: var(--blue);
}

.dash-content .title .text {
	font-size: 2rem;
	font-weight: 500;
	color: var(--text-color);

	margin-left: 1rem;
}

.dash-content .boxes {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.dash-content .boxes .box {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: calc(100% / 3 - 30px);
	height: 150px;

	padding: 2rem 2rem;
	border-radius: 0.6rem;
	background-color: var(--box-color);
}

.boxes .box i {
	font-size: 3.5rem;
	color: var(--text-color);
}

.boxes .box1 i {
	padding: 1rem;
	background-color: var(--red-color);
	border-radius: 50%;
}

.boxes .box2 i {
	padding: 1rem;
	background-color: var(--blue-color);
	border-radius: 50%;
}

.boxes .box3 i {
	padding: 1rem;
	background-color: var(--purple-color);
	border-radius: 50%;
}

.boxes .box4 i {
	padding: 1rem;
	background-color: var(--gray-color);
	border-radius: 50%;
}

.boxes .box-info {
	display: flex;
	flex-direction: column;
}

.boxes .box-info .text {
	white-space: nowrap;
	font-size: clamp(1.4rem, 3vw, 1.8rem);
	font-weight: 500;
	color: var(--text-color);
}

.boxes .box .number {
	font-size: clamp(1.8rem, 3vw, 3rem);
	font-weight: 500;
	color: var(--text-color);
}

.graph {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	min-height: 300px;
	gap: 4rem;
}

.graph .big-graph {
	display: grid;
	grid-template-columns: 5fr 3fr;
	grid-column: span 3;
	height: 100%;
	background-color: var(--box-color);
	border-radius: 0.6rem;
}

.graph .small-graph {
	height: 300px;
	background-color: var(--box-color);
	border-radius: 0.6rem;
}
.small-graph > div {
	height: 100%;
}
.dash-content .activity .activity-data {
	display: flex;
	justify-content: space-between;

	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;

	background-color: var(--box-color);
	border-radius: 0.6rem;
	padding: 1rem;
	width: 100%;
	height: 85%;
}
.activity-data .data {
	display: flex;
	flex-direction: column;

	margin: 0 1.5rem;
}

.activity-data .data-title {
	font-size: 1.7rem;
	font-weight: 500;
	color: var(--text-color);
}

.activity-data .data .data-list {
	font-size: 1.4rem;
	font-weight: 400;
	color: var(--text-color);
	white-space: nowrap;

	margin-top: 2rem;
}

.data.ver {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.data.ver i {
	cursor: pointer;
	font-size: 1.7rem;
}

@media (width <= 968px) {
	.graph .big-graph {
		grid-template-columns: 1fr;
		height: 400px
	}
	.dash-content .graph {
		display: flex;
		flex-direction: column;
		height: 640px;
	}
	.graph .small-graph{
		height: 200px;
	}
}

@media (width <= 780px) {
	.dash-content{
		display: flex;
		flex-direction: column;
	}
	.dash-content .boxes .box {
		width: calc(100% / 2 - 15px);
		margin-top: 1.5rem;
	}
}

@media (width <= 560px) {
	.dash-content .boxes .box {
		width: 100%;
	}
}
