@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--primary-color: #0e4bf1;
	--bg-primary-color: #cccccc;
	--nav-primary-color: #2b3743;
	--panel-color: #fff;
	--text-color: #000;
	--black-light-color: #fff;
	--border-color: #e6e5e5;
	--toggle-color: #aaa;
	--box-color: #fff;
	--title-icon-color: #fff;
	--red-color: #fee2e2;
	--blue-color: #e0e7ff;
	--purple-color: #f5d0fe;
	--gray-color: #e2e8f0;

	font-size: 62.5%;

	/* Transition */
	--tran-05: all 0.5s ease;
	--tran-03: all 0.3s ease;
	--tran-02: all 0.2s ease;
}
body {
	min-height: 100vh;
	font-size: 1.6rem;
	font-family: 'Poppins', sans-serif;

	background-color: var(--bg-primary-color);
}
nav {
	position: fixed;
	top: 0;
	left: 0;

	height: 100%;
	width: 300px;

	padding: 1.5rem;
	background-color: var(--nav-primary-color);
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
	border: 1px solid var(--border-color);
	transition: var(--tran-05);
}
nav.close {
	width: 73px;
}
nav .logo-name {
	display: flex;
	align-items: center;
}
nav .logo-image {
	display: flex;
	justify-content: center;
	min-width: 45px;
}
nav .logo-image img {
	width: 60px;
	object-fit: cover;
	border-radius: 50%;
}
nav .logo-name .logo_name {
	font-size: 2rem;
	font-weight: 600;
	color: var(--black-light-color);
	text-decoration: none;

	margin-left: 1.4rem;
	transition: var(--tran-05);
}
nav.close .logo_name {
	opacity: 0;
	pointer-events: none;
}
nav .menu-items {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: calc(100% - 90px);
	margin-top: 4rem;
}
.menu-items li {
	list-style: none;
}
.menu-items li a {
	display: flex;
	align-items: center;

	height: 50px;
	text-decoration: none;
}
.nav-links li a:hover::before {
	content: '';
	position: absolute;
	left: 10px;
	height: 40px;
	width: 2.3px;
}
body.dark li a:hover::before {
	background-color: var(--black-light-color);
}
.menu-items li a i {
	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 45px;
	height: 100%;

	font-size: 24px;
	color: var(--black-light-color);
}
.menu-items li a .link-name {
	font-size: 1.8rem;
	font-weight: 400;
	color: var(--black-light-color);
}
nav.close li a .link-name {
	opacity: 0;
	pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name {
	color: var(--black-light-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name {
	color: var(--black-light-color);
}
.logout-mode {
	padding-top: 1rem;
	border-top: 1px solid var(--border-color);
}
.logout-mode li a:hover {
	opacity: 0.8;
}
.menu-items .mode {
	display: flex;
	align-items: center;

	white-space: nowrap;
}
.menu-items .mode-toggle {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;

	right: 14px;
	height: 50px;
	min-width: 45px;

	cursor: pointer;
}
.mode-toggle .switch {
	position: relative;
	display: inline-block;

	height: 22px;
	width: 40px;

	border-radius: 25px;
	background-color: var(--toggle-color);
}
.switch::before {
	content: '';
	position: absolute;
	left: 22px;
	top: 50%;
	transform: translateY(-50%);
	height: 15px;
	width: 15px;
	background-color: var(--panel-color);
	border-radius: 50%;
	transition: var(--tran-03);
}
body.dark .switch::before {
	left: 5px;
}
.dashboard {
	position: relative;
	left: 300px;

	min-height: 100vh;
	width: calc(100% - 300px);

	background-color: var(--bg-primary-color);
	padding: 1rem 3rem;
	transition: var(--tran-05);
}
nav.close ~ .dashboard {
	left: 73px;
	width: calc(100% - 73px);
}