@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--primary-color: #0e4bf1;
	--bg-primary-color: #cccccc;
	--nav-primary-color: #2b3743;
	--panel-color: #f9fafc;
	--text-color: #000;
	--light-color: #fff;
	--border-color: #e6e5e5;
	--toggle-color: #aaa;
	--box-color: #fff;
	--title-icon-color: #fff;
	--red-color: #fee2e2;
	--blue-color: #e0e7ff;
	--purple-color: #f5d0fe;
	--gray-color: #e2e8f0;

	font-size: 62.5%;
}
body {
	display: flex;
	min-height: 100vh;
	font-size: 1.6rem;
	font-family: 'Poppins', sans-serif;

	background-color: var(--bg-primary-color);
}
nav {
	position: fixed;
	top: 0;
	left: 0;

	height: 100%;
	width: 300px;

	padding: 1.5rem;
	background-color: var(--nav-primary-color);
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
	border: 1px solid var(--border-color);
}
nav .logo-name {
	display: flex;
	align-items: center;
}
nav .logo-image {
	display: flex;
	justify-content: center;
	min-width: 45px;
}
nav .logo-image img {
	width: 60px;
	object-fit: cover;
	border-radius: 50%;
}
nav .logo-name .logo_name {
	font-size: 2rem;
	font-weight: 600;
	color: var(--light-color);
	text-decoration: none;

	margin-left: 1.4rem;
	transition: var(--tran-05);
}
nav .menu-items {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: calc(100% - 90px);
	margin-top: 4rem;
}
.menu-items li {
	list-style: none;
}
.menu-items li a {
	display: flex;
	align-items: center;

	height: 50px;
	text-decoration: none;
}
.nav-links li a:hover::before {
	content: '';
	position: absolute;
	left: 10px;
	height: 40px;
	width: 2.3px;
}
.menu-items li a i {
	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 45px;
	height: 100%;

	font-size: 24px;
	color: var(--light-color);
}
.menu-items li a .link-name {
	font-size: 1.8rem;
	font-weight: 400;
	color: var(--light-color);
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name {
	color: var(--light-color);
}
body .nav-links li a:hover i,
body .nav-links li a:hover .link-name {
	color: var(--light-color);
}
.logout-mode {
	padding-top: 1rem;
	border-top: 1px solid var(--border-color);
}
.logout-mode li a:hover {
	opacity: 0.8;
}
.dashboard {
	position: relative;
	left: 350px;

	min-height: 95vh;
	width: calc(95% - 300px);

	border-radius: 10px;
	background-color: var(--panel-color);
	margin: 2rem 0;
	padding: 1rem 3rem;
}
.search-space {
	width: 100%;
}
.search-div {
	position: relative;
	display: flex;
	width: 50%;
	height: min-content;

	margin: 15px auto;
}
.search-div input {
	width: 100%;
	font-size: 1.6rem;

	border: 2px solid #ccc;
	border-radius: 1.5rem;
	padding: 15px;
	outline: 0;
}
.search-div i {
	position: absolute;
	right: 20px;
	top: 13px;
	font-size: 22px;
	color: #aaa;
}

.wrapper {
	flex: 1;
	padding: 1rem 3rem;
}
.wrapper .status {
	display: flex;
	font-weight: 600;
	gap: 3rem;
}
.wrapper button {
	background: transparent;
	border: 0;
	font-weight: 500;
	font-size: 2rem;
	cursor: pointer;
}
.wrapper button:hover {
	text-decoration: underline;
}
.ocorrencias {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 5rem;
	margin-top: 5rem;
}
.ocorrencias .ocorrencia-item {
	display: flex;
	gap: 3rem;
}
.ocorrencias .ocorrencia-date {
	display: flex;
	flex-direction: column;
	color: #71717a;
	padding-right: 3rem;
	border-right: 2px solid #9ca3af;
}
.ocorrencias .ocorrencia-date::after {
	content: '';
	width: 2px;
	min-height: 80px;
}
.ocorrencias .ocorrencia-info {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.ocorrencia-info .ocorrencia-title {
	display: flex;
	align-items: center;
	font-size: 1.8rem;
	font-weight: 500;
	gap: 1.5rem;
}
.ocorrencia-info .ocorrencia-title i {
	font-size: 2rem;
}
.ocorrencia-info .ocorrencia-subtitle {
	color: #71717a;
}
